@font-face {
  font-family: "Dot Matrix";
  src: url('../fonts/BMreceipt-A11.otf');
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #3a3131;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #e8f0ff;
}

h1, th {
  font-family: "Dot Matrix", Helvetica, Arial, sans-serif;
  letter-spacing: 0.1em;
  margin: 1ex 8px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
}

h1 {
  font-size: 22px;
}

th {
  font-size: 11px;
}

td.name {
  width: 100%;
}

td.result {
  text-align: right;
}

tr:hover {
  background-color: rgba(0,0,0,0.1);
}

p, table {
  margin: 0.5ex 0 0 8px;
}

table {
  border-collapse: collapse;
}

.output {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 11px;
  margin-right: 1em;
}

span.result {
  background-color: #e8f0ff;
  color: #343131;
  padding-right: 0.3em;
  padding-left: 0.3em;
  font-weight: bold;
}
